* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    display: flex;
    
}
.container{
    width: 320px;
    text-align: center;
    background: rgb(235, 130, 126);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}
#Calculator{
    width:100%;
    height:50px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    
}
.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    
}

.button-grid input[type="button"]{
    width:100%;
    height:60px;
    font-size:18px;
    
      
    border:none;
    border-radius: 10px;
    
    background-color: darkgrey;
    color:black;
    
}
input[type="button"]:active {
    background-color: darkorchid;
}


  